@font-face {
  font-family: 'VPPixel';
  src: url('/fonts/VPPixel-Simplified.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.vppixel-font {
  font-family: 'VPPixel', monospace;
}